.skills-section {
  background-color: #fffaf0;
  padding: 4rem 2rem;
  text-align: center;
}

.skills-header h2 {
  font-size: 2rem;
  color: orange;
  margin-bottom: 0.5rem;
}

.skills-header p {
  font-size: 1rem;
  color: #444;
  margin-bottom: 2rem;
}

.skills-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
